.button{
  @apply w-1/5 p-[10px] relative font-Ubuntu text-[#001B5B] font-semibold;
  foo: bar;

  &::after{
    content:'';
    @apply w-0 absolute h-[2px] left-0 bottom-0 transition-all duration-200 bg-blue-500;
    foo: bar;
  }

  &:hover::after{
    @apply w-full transition-all duration-500 mr-[25%];
    foo: bar;
  }
}

.button_container{
  @apply flex justify-around border-t-[1px] border-t-blue-500;
  foo: bar;

  &:hover .button{
    @apply  opacity-50;
    foo: bar;
  }

  &:hover .button:hover{
    @apply  opacity-100;
    foo: bar;
  }
}